.h5p-interactive-video .h5p-interaction-inner,
.h5p-interactive-video .h5p-interaction-inner.h5p-image {
    font-size: 0.60em;
    line-height: 1.25em;
}
div.h5p-container.h5p-standalone.h5p-interactive-video.h5p-semi-fullscreen {
    font-size: 14px;
}